/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.btn-submit{
  color: #fff;
  max-width: 42em;
  font-family: 'Noto Serif TC', serif;
  font-weight: 700 ;
  font-size: 1.8rem;
  text-shadow: none; /* Prevent inheritance from `body` */
  padding: 6px 50px;
  background-color: rgba(36,157,160,.6);
  border: .05rem solid #fff;
  border-radius:2rem;
}
.btn-submit2{
  color: #fff;
  max-width: 42em;
  font-family: 'Noto Serif TC', serif;
  font-weight: 700 ;
  font-size: 1.2rem;
  text-shadow: none; /* Prevent inheritance from `body` */
  padding: 6px 50px;
  background-color: rgba(36,157,160,.6);
  border: .05rem solid #fff;
  border-radius:2rem;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image:url('../img/background.png');
    background-repeat:no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container{

}

.table .tbody-light tr {
  color: #fffff;
  background-color: #000;
  border-color: #000;
}

h2.title {
  max-width: 42em;
  font-family: 'Noto Sans TC', serif;
  font-weight: 900 ;
}
h4.title {
  max-width: 42em;
  font-family: 'Noto Sans TC', serif;
  font-weight: 700 ;
}
h5.title {
  max-width: 42em;
  font-family: 'Noto Sans TC', serif;
  font-weight: 700 ;
}
h6.title {
  max-width: 42em;
  font-family: 'Noto Sans TC', serif;
  font-weight: 700 ;
  text-align: left;
  line-height: 1.8rem;
}
.form-control2{
  padding:.2rem .5rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;
}
.text-left{
  text-align: left;
}
/*Home****/
.main{
  /* width: 100%;height: 100%; */
}
.main img{
  /* width: 100%; */
}
.homeIMG1{
  display:block;
}
.homeIMG2{
  display:none;
}

.btn-disabled{
  display: none;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 0rem;
  /*background-color: rgba(0,0,0,0.18);*/
}

.masthead-brand {
  margin-bottom: 0;
}

.headicon{
  height: 25px;
}
.headlogo{
  height: 50px;
}

.left{
  position: absolute;
  top:0;
  left:8px;
  display: block;
  height:50px;
  line-height: 50px; 
}
.right{
  position: absolute;
  top:0;
  right:8px;
  display: block;
  height:50px;
  line-height: 50px; 
}




@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
  h2{
    font-size:3rem;
  };
 }

 @media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
  h2{
    font-size:4rem;
  };
 }
.img-responsive{
  width:100%;
  height: auto;
}
.img-responsive2{
  width:55%;
  height: auto;
}
.img-align{
  display: inline-block;
  vertical-align: middle;
}
/*
 * Cover
 */
.cover {
  padding: 3rem 1.5rem 0 1.5rem;
}
.cover2 {
  padding: 0 1.5rem;
}
.cover3 {
  padding: 0rem 3rem 0 3rem; ;
}
.cover .btn-lg, .cover2 .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.cover p, .cover2 p{
  font-family: 'Noto Sans TC', serif;
  color:#fff;
  font-weight: 500;
}
.modal-content{
  text-align: left;
  padding: 15px 18px;
}
.modal-body img{
  width:40px;
  height: 40px;
}
.mission{
  text-align: center;
}
.mission img{
  width: 100%;
  height:100%;
}
.mission-img{
  padding: 0 0 5px 0;
}

.video-container {

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  
  }
  
.video-container iframe, .video-container object, .video-container embed {
  
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%
  padding-top: 30px;
}
/*** Mission  **/
.turntable{
  position: relative;
}
.turntable img.t-top{
  position: absolute;
  top:0;
  z-index: 999;
}


.gamebox {
  display: block;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  background-clip: padding-box;
  border: 2px solid #E3D6C8;
  border-radius: 0.25rem;
}
.gameboxfocus {
  display: block;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  background-clip: padding-box;
  border: 2px solid #fce91a;
  border-radius: 0.25rem;
}
.gamebox img, .gameboxfocus img{
  width:100%;
  height:auto;
}


/*** AR  ***/
.ar-div{
  position: relative;
}
.ar-title{
  position: relative;
  bottom: 10px;
  z-index: 999;
  margin-top: -80px;
}
img.ar-close{
  width: 40px;
  height: 40px;
}
/*
 * Footer
 */
.mastfoot-home{
  text-align: center;
  width: 100%;
  position: fixed;
  height: 80px;
  bottom: 0;
}
/* .mastfoot-home img{
  height:60px;
} */
.mastfoot {
  
  /*background-image:url('/img/footer-bg.png');
  background-repeat:repeat-x;*/
  height: 100px;
}
.footericon{
  height:90px;

}
.footericon2{
  width:auto;
  height:100%;
}
.footerbtn{
  height:120px;
  position: relative;
  top:-35px;
  left:0;
}
.footerbtn2{
  height:120px;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.turnimg{transition: all 0.5s ease;}
